.section {
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;
}

.choose-career-section {
    width: 100vw !important;
    //height: 100vh !important;
}

.section-mobile {
    width: 100vw !important;
    z-index: -1;
    //height: 250vw !important;
    // overflow-y: scroll;
    //padding: 15px 0px 15px 0px;
}

#student-search-div-mobile{
    height: 1300px !important;
}

#student-info-div-mobile{
    height: 1000px !important;
}

#major-confirm-div-mobile{
    height: 1000px !important;
}

#map-div-mobile{
    height: 800px !important;
}

#choose-career-div-mobile{
    height: 800px !important;
}

#career-info-div-mobile{
    height: 1000px !important;
}
  
.section-title {
    text-align: center;
    color: #2f2f2f;
    
    h1{font-size: 4rem;}
    p{font-size: 2rem;}
}



.section-title-mobile {
    text-align: center;
    color: #2f2f2f;
    
    h1{font-size: 3rem;}
    p{font-size: 2rem;}
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select{
    background-color: white;
}

@media only screen and (min-width: 1920px){
        
    .ui.small.modal {
        width: 760px;
        transform: translateX(-380px) !important;
    }
}
@media only screen and (min-width: 1200px){

    .ui.small.modal {
        width: 720px;
        transform: translateX(-360px) !important;
    }
}
@media only screen and (min-width: 992px){

    .ui.small.modal {
        width: 680px;
        transform: translateX(-340px) !important;
    }
}
@media only screen and (min-width: 768px){
    
    .ui.small.modal {
        width: 600px;
        transform: translateX(-300) !important;
    }  
}
@media only screen and (max-width: 767px){

    .ui.small.modal {
        width: 95%;
        transform: translateX(-46vw) !important;
    }
}

// comment modal

@media only screen and (min-width: 1920px){
        
    .ui.small.ish.modal {
        width: 760px;
        transform: translateX(-380px) !important;
        margin-top: -250px;
    }
}
@media only screen and (min-width: 1200px){

    .ui.small.ish.modal {
        width: 720px;
        transform: translateX(-360px) !important;
        margin-top: -250px;
    }
}
@media only screen and (min-width: 992px){

    .ui.small.ish.modal {
        width: 680px;
        transform: translateX(-340px) !important;
        margin-top: -250px;
    }
}
@media only screen and (min-width: 768px){
    
    .ui.small.ish.modal {
        width: 600px;
        transform: translateX(-300) !important;
        margin-top: -250px;
    }  
}
@media only screen and (max-width: 767px){

    .ui.small.ish.modal {
        width: 95%;
        transform: translateX(-46vw) !important;
        margin-top: -150px;
    }
}

.campus-div:hover{
    opacity: 0.5;
}

.centered{
    text-align: center;
}