.campus-text{
    font-size: 20px;
    width: 700px;
    margin: 100px 0px 100px calc(50vw - 350px);
}

.campus-text-mobile{
    font-size: 20px;
    width: 90vw;
    margin: 100px 5vw 100px 5vw;
}

.ci-title-group{
    text-align: center;
    color: #2f2f2f;
    h1{font-size: 3rem}
    h2{font-size: 2.5em}
}

.ci-green-button{
    float: left;
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 30px;
    line-height: 45px;
}

.ci-plain-button{
    float: right;
    margin-right: 50px;
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 30px;
    line-height: 45px;
}

.ci-green-button-mobile{
    margin-top: 10px;
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    line-height: 45px;
    width: 90vw;
    margin-left: 5vw;
}

.ci-plain-button-mobile{
    margin-right: 50px;
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    line-height: 45px;
    width: 90vw;
    margin-left: 5vw;
}