.no-space{
    margin-top: 50px;
}

.no-space-title-mobile{
    font-size: 30px !important;
}

.no-space-major-title-mobile{
    margin: 0 !important;
    font-size: 20px !important;
}

.career-info-title-group-mobile{
    padding: 15px;
}

.chosen-sector-image{
    height: 2.0em;
    margin-right: 15px;
    margin-top: -10px;
    vertical-align: middle;
}

.right-floated{
    float: right;
    // margin-top: 0 !important;
    margin-right: -12vw;
}

.more-info-button-mobile {
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 2.5px;
    margin-left: 10px;
    height: 5vh;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 2px;
    cursor: pointer;
}

.student-progress-mobile{
    margin-bottom: 15px !important;
}