.sector-block-image{
    max-height: 20vh !important;
    max-width: 10vw !important;
}

.sector-block{
    background-color: white !important;
    width: 14vw !important;
    height: 30vh !important;
    min-width: 275px;
}

.sector-block-column{
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.career-sector-title-group{

    h4{
        font-size: 30px !important;
    }
}

.career-sector-title-group-mobile{
    text-align: center;
    h1{
        font-size: 2.2em !important;
    }

    h2{
        font-size: 2.5em !important;
    }
}

.selected-sector{
    border: 8px solid green;
}

// .selected-sector-mobile{
//     background-color: rgba(0, 255, 0, 0.2);;
// }

.selected-sector-mobile{
    border: 4px solid green;
}

.sector-grid{
}

.sector-block-image-mobile{
    max-width: 20vw !important;
    margin-top: 20px;
}

.sector-block-mobile{
    background-color: white !important;
    width: 40vw !important;
    height: 40vw !important;
}

.sector-block-column-mobile{
    background-color: white;
    padding: 10px 10px 10px 10px;
}


.sector-block-name-mobile{
    margin-top: -0px !important;
    font-size: 15px;
}