.one-line-pathway{
    text-align: left;
    color: #2f2f2f;
}

.one-line-image{
    vertical-align: middle;
    width: 100px;
    margin-right: 25px;
}

.one-line-image-mobile{
    vertical-align: baseline;
    width: 75px;
    margin-right: 15px;
}

.one-line{
    display: inline-block;
}


.top-left-title{
    
    color: #2f2f2f;
    
    font-size: 4rem;
}

.top-left-title-mobile{
    
    color: #2f2f2f;
    
    font-size: 2.5rem;
}

.general-button {
    margin-top: 2.5vh;
    min-width: 10vw;
    padding-left: 10px;
    padding-right: 10px;
    height: 5vh;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2rem !important;
}

.mobile-major-confirm-button {
    padding: 15px 15px 35px 15px;
    height: 30px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 25px !important;
}

