td{
    text-align: center;
    width: calc(90vw * 0.025);
}

#campus-select{
    font-size: 0.4em !important;
    height: 2em;
    border-radius: 0.2em;
    margin-left: 25px;
    padding: 10px;
}

#campus-select-mobile{
    font-size: 1.5em !important;
    height: 2em;
    border-radius: 0.2em;
    margin-left: 5px;
    padding: 10px;
}


.map-section-title {
    color: #2f2f2f;
    height: 200px;
    padding-left: 80px;
    padding-top: 50px;
    h1{font-size: 50px;}
    p{font-size: 30px;}
}

.map-segment-grid{
    margin-top: 0px !important;
    font-size: 20px;
}

.map-selected-sector{
    border: 8px solid green;
}
.island-adjust{
    padding-top: 6px !important;
}

.island-adjust-mobile{
    padding: 5px 5px 5px 10px !important;
}

.campus-name-adjust{
    padding-top: 20px !important;
}

.campus-name-adjust-mobile{
    padding-left: 15px !important;
    padding-top: 8px !important;
}

#map-custom-select{
    width: 30vw !important;
    border-radius: 0px !important;
    background-color: #E8E8E8 !important;
    height: 50px !important;
    border: 0px !important;
    font-size: 20px;
}
#map-custom-select-mobile{
    width: calc(100vw - 0px) !important;
    margin-left: 0px !important;
    border-radius: 0px !important;
    background-color: #E8E8E8 !important;
    height: 50px !important;
    border: 0px !important;
    font-size: 20px;
}