.new-next-button {
    float: right;
    margin-right: 5vw;
    width: 10vw;
    margin-left: 2vw;
    height: 5vh;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2em;
}

.new-next-button-mobile {
    width: 89vw;
    height: 40px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2em;
}

.si-group{
    position: absolute;
    width: 100%;
    text-align: center;
    h2{font-size: 2.5rem;}
}

.si-group-mobile{
    padding: 3vw;
    h2{font-size: 2.5rem;}
}

.si-title-group{
    text-align: center;
    color: #2f2f2f;
    h1{font-size: 4rem}
    h2{font-size: 3.5em}
}

#student-name{
    font-size: 1.5rem;
}

.student-info-grid{  
    text-align: left;
    font-size: 1.2rem;
}

.ui.progress .bar{
    background: green !important;
    height: 30px !important;
}

.ui.progress{
    height: 30px;
}

.indicator-first{
    width: 25%;
    border: 0;
    text-align: left;
}

.indicator-rest{
    border-left: 2px solid gray;
    width: 25%;
    text-align: right;
}

.progress-icon{
    width: 22px;
}


.ui.progress .bar > .progress {
    color: white !important;
}

#speedo{
    width: 500px; overflow: hidden;
    margin-left: calc(50vw - 250px);
}
#speedo-mobile{
    width: 300px; overflow: hidden;
    margin-left: calc(50vw - 150px);
    height: 200px;
}

.new-speedo-button {
    width: 280px;
    margin-left: calc(50vw - 140px);
    height: 50px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 30px;
}