#name-info-image{
    background-image: url('../../images/UserInfo_Icons_NameAndContact.png');
}

#dob-info-image{
    background-image: url('../../images/UserInfo_Icons_Birth.png');
}

#ss-info-image{
    background-image: url('../../images/UserInfo_Icons_Security.png');
}

.student-search-image{
    width: 100%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.student-search-column{
    padding: 5vh 7vw 5vh 7vw;
}

.student-search-input{
    width: 100%;
    padding: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // font-size: 1.2em;
}

.sub-section-title{
    color: #2f2f2f;
    text-align: center;
}

.new-submit-button {
    width: 10vw;
    margin-left: 7vw;
    position: absolute;
    bottom: 0;
    height: 5vh;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2em;
}

.new-select{
    width: 100%;
    height: 5vh;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // font-size: 1.2em;
}

.centered {
    text-align: center;
}

.protected {
    font-size: 2em;
}